@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,700;1,300;1,700&family=IBM+Plex+Sans:ital,wght@0,200;0,700;1,200;1,700&family=IBM+Plex+Serif:ital,wght@0,200;0,700;1,200;1,700&display=swap');

div.content {
     text-align: start;
}

p, ul, ol {
  font-family: 'IBM Plex Sans', sans-serif !important;
  font-size: 14pt;
  font-weight: 300;
  text-align: justify;
  color: #666;
  margin-bottom: 20px !important;
}

strong  {
  color: #555;
  font-weight: 700;
}

div.intro h1 {
  font-size: 15vh !important;
  color: #555;
}

h1 {
  font-size: 24pt !important;
  margin-bottom: 24px !important;
    color: #555;
}

h2 {
  font-size: 20pt !important;
  margin-bottom: 20px !important;
    color: #555;
}

h3 {
  font-size: 18pt !important;
    color: #555;
}

h4 {
  font-size: 14pt !important;
    color: #555;
}


footer p {
  text-align: right;
  font-size: 1vh;
}

.item-tag {
  background-color: #e0fff0;
  color: #888;
  box-shadow: inset 0 -1px 0 rgb(29 40 30 / 25%);



}

.tag-cloud-tags div {
    display: inline-block;
    padding: 6px;
    border: 8px;
}

.tag-cloud-tags div { transform:rotate(5deg); }
.tag-cloud-tags div:nth-child(2n) { transform:rotate(-4deg); }
.tag-cloud-tags div:nth-child(3n) { transform:rotate(2deg); }
.tag-cloud-tags div:nth-child(4n) { transform:rotate(-5deg); }
.tag-cloud-tags div:nth-child(5n) { transform:rotate(-6deg); }
.tag-cloud-tags div:nth-child(6n) { transform:rotate(6deg); }


table {
    font-family: 'IBM Plex Mono', monospace;
    border: 1px solid #ddd;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    border: 1px solid #ddd;
    border-bottom-width: 2px;
    text-align: left;
    vertical-align: bottom;
    padding: 8px !important;
    line-height: 1.4;
    box-sizing: border-box;
}

td {
    border: 1px solid #ddd;
    text-align: left;
    vertical-align: top;
    padding: 8px !important;
    line-height: 1.4;
    box-sizing: border-box;
}

tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

code {
    font-family: 'IBM Plex Mono', monospace !important;
}

div.pages {
    font-size: 24pt;
}
ul.nav {
      margin-bottom: 0px !important;
}
